{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "./",
    "sourceType": "module"
  },
  "root": true,
  "env": {
    "node": true,
    "jest": true,
  },
  "ignorePatterns": [
    ".eslintrc.js",
    "dist /**/*"
  ],
  "plugins": [
    "@typescript-eslint", // eslint for typescript
    "prettier",
  ],
  "extends": [
    "plugin:prettier/recommended", // prettier as eslint
    "eslint-config-standard-with-typescript"
  ],
  "rules": {
    // prettier
    "prettier/prettier": "error",
    // semi
    "semi": "off",
    "@typescript-eslint/semi": [
      "error",
      "always"
    ],
    // comma-dangle
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      "always-multiline"
    ],
    // space-before-function-paren
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "named": "never",
        "anonymous": "always",
        "asyncArrow": "always"
      }
    ],
    // indent
    "indent": "off",
    "@typescript-eslint/indent": "off",
    // no-extraneous-class
    "no-extraneous-class": "off",
    "@typescript-eslint/no-extraneous-class": "off",
    // @typescript-eslint/member-delimiter-style
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi"
        }
      }
    ],
    // brace-style
    "brace-style": "off",
    "@typescript-eslint/brace-style": "off",
    // no-callback-literal
    "n/no-callback-literal": "off",
    // no-unused-vars
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
